.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#size{
    font-size: 75px;
}

footer{
    position:absolute;
}

div > a:hover{
    color: crimson;
}